@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

:root {
    --primary-color: #007AF3;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
}

body {
    background-color: #F2F2F2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: white;
    padding: 1em;
}

.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.navbar .logo span {
    color: var(--primary-color);
}

.logo {
    transition: 100ms;
    transform: scale(1);
}

.logo:hover, .logo:focus {
    transform: scale(1.1);
}

.navbar nav {
    display: none;
}

.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
}

.navbar .mobile-menu {
    cursor: pointer;
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
}

nav ul.primary-nav {
    margin-top: 5em;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
    .navbar .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
    }
    .navbar nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .navbar nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navbar nav a {
        color: black;
        font-size: 1em;
        padding: .1em 1em;
    }
    .navbar nav ul.primary-nav {
        margin: 0;
    }
    .navbar nav li.current a {
        font-weight: bold;
    }
    .navbar nav li.go-premium-cta a {
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: -.2em;
    }
    .navbar nav li.go-premium-cta a:hover {
        background: var(--primary-color);
        color: white;
    }
}